body
{
    /* background-color: rgb(14, 67, 123); */
}
/* h1
{
    color: rgb(125, 236, 238);
    font-size: 100px;
} */

/* .box_one
{
    height: 500px;
    width: 500px;
    background-color: azure;
    border: 5px;
    border-radius: 5%;
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    float: left;
}
.box_one h1
{
    font-size: 40px;
    padding: 20px;
}
.box_two
{
    height: 300px;
    width: 300px;
    background-color: azure;
    float: left;
} */

.area
{
    height: 300px;
    width: 500px;
    background-color: green;
    position: relative;
    top: 50px;
    left: 250px;
}
.circle
{
    height: 130px;
    width: 130px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 85px;
    left: 160px;
}
.poll
{
    height: 700px;
    width: 10px;
    position: absolute;
    top: -40px;
    left: -40px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: bisque;
}

.rope
{
    height: 10px;
    width: 70px;
    position: absolute;
    top: 25px;
    left: -60px;
    border: 3px solid rgba(161, 167, 9, 0.341);
    border-radius: 10px;
}
.rope2
{
    height: 10px;
    width: 70px;
    position: relative;
    top: 250px;
    left: -60px;
    border: 3px solid rgba(161, 167, 9, 0.341);
    border-radius: 10px;
}
.ground1
{
    height: 15px;
    width: 60px;
    position: relative;
    top: 640px;
    left: -65px;
    border: 2px solid black;
    background-color: gray;
}
.ground2
{
    height: 15px;
    width: 70px;
    position: relative;
    top: 640px;
    left: -70px;
    border: 2px solid black;
    background-color: gray;
}
.ground3
{
    height: 15px;
    width: 80px;
    position: relative;
    top: 640px;
    left: -75px;
    border: 2px solid black;
    background-color: gray;
}
 .box2{
    height: 400px;
    width: 800px;
    border: 1px solid red;
    position: relative;
    z-index: 2;
    background: url(../image/slider.jpg);
    margin-top: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    overflow-y: scroll ;
}

.box3
{
    height: 400px;
    width: 600px;
    border: 1px solid black;
    position: relative;
    z-index: 2;
    top: 15px;
}